<form action="/lists" method="post">
  <dl>
    <dt>
      <label for="list_name">Please enter the list name: </label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List Name" type = "text" value="<%= @list_name %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists">Cancel</a>
  </fieldset>
</form>
